 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('images/IMG_4225.jpeg');
  background-position: 50% 50%;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 615px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px 84px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 388px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 291px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 183px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 436px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 18px;
  margin-bottom: 18px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  background-image: none;
  font-size: 1.5rem;
  margin: 21px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 136px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.3333333333333333rem;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1072px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1072px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  margin: 106px auto 0 0;
  padding: 0 15px 0 13px;
}

.u-section-3 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  margin: 182px auto 0 0;
  padding: 0 15px 0 13px;
}

.u-section-3 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  margin: 184px auto 0 0;
  padding: 0 15px 0 13px;
}

.u-section-3 .u-icon-3 {
  font-size: 1.5em;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  margin: 207px auto 0 0;
  padding: 0 15px 0 13px;
}

.u-section-3 .u-icon-4 {
  font-size: 1.5em;
}

.u-section-3 .u-image-1 {
  min-height: 1072px;
  background-image: url("images/Screenshot2025-04-08at6.51.08PM.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-icon-5 {
  width: 37px;
  height: 37px;
  margin: 106px auto 0 243px;
  padding: 0;
}

.u-section-3 .u-icon-6 {
  width: 36px;
  height: 36px;
  margin: 8px auto 0 244px;
  padding: 0;
}

.u-section-3 .u-icon-7 {
  width: 39px;
  height: 39px;
  margin: -112px auto 0 299px;
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 288px;
  height: 192px;
  --radius: 50px;
  margin: -85px auto 0 -128px;
}

.u-section-3 .u-image-3 {
  width: 279px;
  height: 197px;
  filter: brightness(0.7);
  --radius: 50px;
  object-position: 50% 100%;
  margin: 19px auto 0 -119px;
}

.u-section-3 .u-image-4 {
  width: 279px;
  height: 200px;
  --radius: 50px;
  margin: 19px auto 0 -119px;
}

.u-section-3 .u-icon-8 {
  width: 44px;
  height: 44px;
  margin: 245px 139px 0 auto;
  padding: 1px;
}

.u-section-3 .u-image-5 {
  width: 279px;
  height: 220px;
  --radius: 50px;
  margin: -260px auto 0 -119px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 884px;
  }

  .u-section-3 .u-layout-cell-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 884px;
  }

  .u-section-3 .u-image-1 {
    min-height: 884px;
  }

  .u-section-3 .u-icon-7 {
    margin-left: 247px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 677px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 677px;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 186px;
  }

  .u-section-3 .u-icon-6 {
    margin-left: 187px;
  }

  .u-section-3 .u-icon-7 {
    margin-left: 189px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 976px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 586px;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 161px;
  }

  .u-section-3 .u-icon-6 {
    margin-left: 162px;
  }

  .u-section-3 .u-icon-7 {
    margin-left: 164px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 759px;
  }

  .u-section-3 .u-image-1 {
    min-height: 369px;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 101px;
  }

  .u-section-3 .u-icon-6 {
    margin-left: 102px;
  }

  .u-section-3 .u-icon-7 {
    margin-left: 103px;
  }

  .u-section-3 .u-icon-8 {
    margin-right: 88px;
  }
} .u-section-4 {
  min-height: 719px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 659px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 29px 0;
}

.u-section-4 .u-text-1 {
  background-image: none;
  font-size: 1.625rem;
  margin: 50px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 659px;
  background-repeat: no-repeat;
  background-image: url("images/IMG_4224.jpeg");
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 603px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-4 .u-image-1 {
    --bottom-right-radius: 50px;
    min-height: 543px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 476px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 416px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 829px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.4444444444444444rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 669px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 581px;
  }

  .u-section-4 .u-image-1 {
    min-height: 421px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 717px;
}

.u-section-5 .u-text-1 {
  margin: 27px -75px 0;
}

.u-section-5 .u-gallery-1 {
  height: 409px;
  width: 503px;
  margin: 39px 0 0 auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: -78px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-5 .u-text-2 {
  background-image: none;
  font-size: 1.625rem;
  margin: -392px 630px 60px -32px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-carousel-control-1 {
    left: -81px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    font-size: 1.4444444444444444rem;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-5 .u-gallery-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 472px;
}

.u-section-6 .u-text-1 {
  margin: 71px auto 0 0;
}

.u-section-6 .u-text-2 {
  background-image: none;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: -7px 0 36px auto;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.3333333333333333rem;
  }
}